<br />
<script>
var data = [
            {
                value: 300,
                color:"#F7464A",
                highlight: "#FF5A5E",
                label: "Red"
            },
            {
                value: 50,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Green"
            },
            {
                value: 100,
                color: "#FDB45C",
                highlight: "#FFC870",
                label: "Yellow"
            }
        ]
var ctx = document.getElementById("myChart").getContext("2d");
var myPieChart = new Chart(ctx).Pie(data);
</script>
<div class="row">
	<div class="col-lg-6">
		<div class="diagram-box">
			<div class="diagram-title">Burndown chart</div>
			<div class="diagram-content">
				<canvas id="myChart" width="225" height="225" style="margin-top:10px"></canvas>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="diagram-box">
			<div class="diagram-title">Stats chart</div>
		</div>
	</div>
</div>
<br />
<br />
<div class="row">
	<div class="col-lg-6">
		<div class="diagram-box">
			<div class="diagram-title">Commit chart</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="diagram-box">
			<div class="diagram-title">Burndown chart</div>
		</div>
	</div>
</div>