<div class="table-container">

	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a href="" data-toggle="tab" data-target="#assignements"><i class="fa fa-tasks"></i>Assignements</a></li>
		<li><a href="" data-toggle="tab" data-target="#activities" ><i class="fa fa-history"></i>Activities</a></li>
		<li><a href="" data-toggle="tab" data-target="#account" ><i class="fa fa-user"></i>Account</a></li>
		<li><a href="" data-toggle="tab" data-target="#notifications" ><i class="fa fa-bell"></i>Notifications</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane fade in active" id="assignements">
			<p>Content for assignements tab.</p>
		</div>
		<div class="tab-pane fade" id="activities">
			<p>Content For activities tab.</p>
		</div>
		<div class="tab-pane fade" id="account">
			<p>Content for id="account" tab.</p>
		</div>
		<div class="tab-pane fade" id="notifications">
			<p>Content For notifications tab.</p>
		</div>
	</div>

</div>
